/*body {
    font-family: Arial, sans-serif;
      background: #f4f6f8;
    background-color:gray;
      }

      .app {
        max-width: 400px;
          margin: 30px auto;
            background: white;
              padding: 20px;
                border-radius: 8px;
          
                }*/
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
    background-color: green;
}

.app {
  
  width: 100%;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}


                h1 {
                  text-align: center;
                  }

                  .input-box {
                    display: flex;
                      gap: 10px;
                      }

                      input {
                        flex: 1;
                          padding: 8px;
                          }

                          button {
                            padding: 8px;
                              cursor: pointer;
                              }

                              ul {
                                list-style: none;
                                  padding: 0;
                                  }

                                  li {
                                    background: #eee;
                                      margin-top: 10px;
                                        padding: 8px;
                                          display: flex;
                                            justify-content: space-between;
                                              border-radius: 5px;
                                              }
